<h1> Log in!</h1>
    <form action='/account' method='POST'>
        <label for="user_email_or_name">Enter your username or email:</label>
        <input type="text" name="username" name="email">
    </form>