#want to display their username w/ welcome message
 
#want to display all of there payments if possible with due date next to them
    #they can click a payment to see more detials about it. will iterate over all of them!
        #this will direct them to the payments view tag
#bonus: settings page to edit their account
#want them to add a payment
<a href="/logout">Log out</a>
