<form action='/account' method='POST'>
    <label for="name_of_payment">Name:</label>
    <input type="text" name="name"><br><br>
    <label for="amount"> Amount:</label>
    <input type="text" name="amount">
    <label for="due"> Due Date: </label>
    <input type="date" name="due_date"><br><br>
    <p><b>Description:</b><br>
    <textarea rows="4" cols="50" name="description"></textarea></p>
    <input type="submit" value="Submit">
</form>