<h1>Welcome!</h1>
<p><b>Hello there!</b> You have stumbled upon this wonderful app that will help you keep track of your payments. No more shall you miss a payment and avoid those 
hefty fees. Login below to view your account or don't hesistate to sign up to get started</p>
<p><a href="/signup">Sign Up</a> or <a href="/login">Login</a></p>


